@charset "UTF-8";
@media all and (min-width: 1200px) {
  body {
    font-family: "Tahoma", sans-serif, "微軟正黑體", sans-serif;
    box-sizing: border-box;
  }
  :root {
    --header-height: 117px;
  }
  main {
    min-height: calc(100vh - var(--header-height));
    overflow: hidden;
  }
  h2 {
    color: rgba(254, 254, 254, 0.75);
    margin: 0 0 20px 0;
  }
  h3 {
    color: rgba(254, 254, 254, 0.75);
  }
  h4 {
    font-size: 24px;
    color: rgba(254, 254, 254, 0.75);
  }
  p {
    font-size: 16px;
    color: rgba(254, 254, 254, 0.75);
    margin: 5px;
  }
  .choseEquipment {
    display: inline-block;
    text-align: center;
  }
  .parent_container {
    position: relative;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 40px auto;
    box-sizing: border-box;
  }
  .choseRole {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .choseRoleBlock {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
  .changeRole {
    position: relative;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 510px;
    flex-grow: 1;
  }
  .changeRoleBtnBlock {
    width: 50px;
    height: 100%;
    display: inline-flex;
    position: relative;
  }
  .changeRoleBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }
  svg {
    outline: none;
  }
  .playRole {
    position: relative;
    margin: auto 50px;
    width: 142px;
    height: 100%;
    display: inline-flex;
  }
  .playRole img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .oneHundred {
    width: 200px;
  }
  .abilityBlock {
    position: relative;
    width: 200px;
    margin: 0 50px 0 0;
  }
  .ability {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 20px 0;
    text-align: center;
  }
  .abilityDescribe {
    width: 100%;
    display: inline-flex;
  }
  .flexGrow {
    display: flex;
    flex-grow: 1;
  }
  .equipList {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 510px;
  }
  .totalPriceBlock {
    width: 100%;
    text-align: right;
  }
  .totalPrice {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #16181D;
  }
  .maskList {
    display: inline-flex;
    width: 600px;
  }
  .airList {
    display: inline-flex;
    width: 600px;
  }
  .shoeList {
    display: inline-flex;
    width: 600px;
  }
  .equipDescribeBlock {
    height: 150px;
    line-height: 150px;
  }
  .equipBlock {
    display: block;
    width: 130px;
    margin: 10px;
    margin: 10px;
    text-align: center;
  }
  .bubbleBackground {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    background-image: url("../img/game/bubbleBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .price {
    display: block;
  }
  .equip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    cursor: pointer;
  }
  .equip img {
    width: auto;
  }
  .eye img {
    position: absolute;
    top: 20px;
    left: 15px;
    transform: scale(1.15) rotate(170deg);
  }
  .back img {
    position: absolute;
    top: 28%;
    transform: translateX(-70%);
    z-index: -1;
  }
  .foot img {
    position: absolute;
    bottom: -30px;
    transform: scale(1.7) rotate(12deg) translate(10px, 5px);
  }
  .rule {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 375px;
    background-color: #16181D;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
  }
  .pRule {
    text-indent: 2em;
    line-height: 32px;
    margin: 20px;
    text-align: left;
  }
  .none {
    display: none;
  }
  .ruleBtnX {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    color: rgba(254, 254, 254, 0.75);
    background: none;
  }
  .button--bubble {
    background: #fefefe;
  }
  .button--bubble:hover {
    background: #fefefe;
    color: #073977;
  }
  .button--bubble:hover + .button--bubble__effect-container .circle {
    background: #fefefe;
  }
  .button--bubble:hover + .button--bubble__effect-container .button {
    background: #fefefe;
  }
  .button--bubble__effect-container .circle {
    background: #fefefe;
  }
  .startBtn .bubbleBtn {
    text-align: center;
    margin: 20px;
  }
  .gameGif {
    margin: 0 auto;
    display: block;
  }
  .gameGifRWD {
    margin: 0 auto;
    display: none;
  }
  .parent_score {
    position: relative;
    width: 576px;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    text-align: center;
  }
  .parent_score img {
    width: 100px;
  }
  .scoreDescribe {
    font-size: 60px;
    color: White;
    margin: 10px;
  }
  .resortRole {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .goShopBtn .bubbleBtn {
    text-align: right;
    margin: 10px;
  }
  .rankList {
    width: 576px;
    height: 460px;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(254, 254, 254, 0.75);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .record {
    display: flex;
  }
  .record img {
    width: 80px;
    height: 80px;
    margin: 20px;
    background-color: rgba(254, 254, 254, 0.75);
    border-radius: 50%;
  }
  .record h3 {
    flex-grow: 1;
    width: 100px;
    margin: auto 0;
  }
  .record h4 {
    flex-grow: 1;
    margin: auto 0;
  }
  .restartBtn .bubbleBtn {
    text-align: center;
    margin: 20px;
  }
}

@media all and (max-width: 1200px) {
  body {
    font-family: "Tahoma", sans-serif, "微軟正黑體", sans-serif;
    box-sizing: border-box;
  }
  h2 {
    color: rgba(254, 254, 254, 0.75);
    margin: 0 0 20px 0;
  }
  h3 {
    color: rgba(254, 254, 254, 0.75);
  }
  h4 {
    font-size: 24px;
    color: rgba(254, 254, 254, 0.75);
  }
  p {
    font-size: 16px;
    color: rgba(254, 254, 254, 0.75);
    margin: 5px;
  }
  .choseEquipment {
    display: inline-block;
    text-align: center;
  }
  .parent_container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 992px;
    justify-content: center;
    margin: 40px auto;
    box-sizing: border-box;
  }
  .changeRole {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    flex-grow: 1;
  }
  .choseRole {
    width: 100%;
    text-align: center;
  }
  .choseRoleBlock {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
  .changeRoleBtnBlock {
    width: 50px;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .changeRoleBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }
  svg {
    outline: none;
  }
  .playRole {
    margin: auto 50px;
    width: 142px;
    display: inline-flex;
  }
  .abilityBlock {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 50px 0 0;
  }
  .ability {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 20px 0;
    text-align: center;
  }
  .abilityDescribe {
    width: 100%;
    display: inline-flex;
  }
  .flexGrow {
    display: flex;
    flex-grow: 1;
  }
  .equipList {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 510px;
    margin: 50px 0;
  }
  .totalPriceBlock {
    width: 100%;
    text-align: right;
  }
  .totalPrice {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #16181D;
  }
  .maskList {
    display: inline-flex;
    width: 600px;
  }
  .airList {
    display: inline-flex;
    width: 600px;
  }
  .shoeList {
    display: inline-flex;
    width: 600px;
  }
  .equipDescribeBlock {
    height: 150px;
    line-height: 150px;
  }
  .equipBlock {
    display: block;
    width: 130px;
    margin: 10px;
    margin: 10px;
    text-align: center;
  }
  .bubbleBackground {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    background-image: url("../img/game/bubbleBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .price {
    display: block;
  }
  .equip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    cursor: pointer;
  }
  .equip img {
    width: auto;
  }
  .eye img {
    position: absolute;
    top: 20px;
    left: 15px;
    transform: scale(1.15) rotate(170deg);
  }
  .back img {
    position: absolute;
    top: 28%;
    transform: translateX(-70%);
    z-index: -1;
  }
  .foot img {
    position: absolute;
    bottom: -30px;
    transform: scale(1.7) rotate(12deg) translate(10px, 5px);
  }
  .rule {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 375px;
    background-color: #16181D;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
  }
  .pRule {
    text-indent: 2em;
    line-height: 32px;
    margin: 20px;
    text-align: left;
  }
  .none {
    display: none;
  }
  .ruleBtnX {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    color: rgba(254, 254, 254, 0.75);
    background: none;
  }
  .button--bubble {
    background: #fefefe;
  }
  .button--bubble:hover {
    background: #fefefe;
    color: #073977;
  }
  .button--bubble:hover + .button--bubble__effect-container .circle {
    background: #fefefe;
  }
  .button--bubble:hover + .button--bubble__effect-container .button {
    background: #fefefe;
  }
  .button--bubble__effect-container .circle {
    background: #fefefe;
  }
  .startBtn .bubbleBtn {
    text-align: center;
    margin: 20px;
  }
  .gameGif {
    margin: 0 auto;
    display: block;
  }
  .gameGifRWD {
    margin: 0 auto;
    display: none;
  }
  .parent_score {
    position: relative;
    width: 576px;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    text-align: center;
  }
  .parent_score img {
    width: 100px;
  }
  .scoreDescribe {
    font-size: 60px;
    color: White;
    margin: 10px;
  }
  .resortRole {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .goShopBtn .bubbleBtn {
    text-align: right;
    margin: 10px;
  }
  .rankList {
    width: 576px;
    height: 460px;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(254, 254, 254, 0.75);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .record {
    display: flex;
  }
  .record img {
    width: 80px;
    height: 80px;
    margin: 20px;
    background-color: rgba(254, 254, 254, 0.75);
    border-radius: 50%;
  }
  .record h3 {
    flex-grow: 1;
    width: 100px;
    margin: auto 0;
  }
  .record h4 {
    flex-grow: 1;
    margin: auto 0;
  }
  .restartBtn .bubbleBtn {
    text-align: center;
    margin: 20px;
  }
}

@media all and (max-width: 991px) {
  .choseEquipment {
    display: inline-block;
    text-align: center;
  }
  .parent_container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }
  .changeRole {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    flex-grow: 0;
  }
  .choseRole {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .choseRoleBlock {
    position: relative;
    display: flex;
  }
  .changeRoleBtnBlock {
    width: 50px;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .changeRoleBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }
  svg {
    outline: none;
  }
  .playRole {
    margin: auto 50px;
    width: 142px;
    display: inline-flex;
  }
  .abilityBlock {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 10px 0 0;
  }
  .ability {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 20px 0;
    text-align: center;
  }
  .abilityDescribe {
    width: 200px;
    display: inline-flex;
  }
  .flexGrow {
    display: flex;
    flex-grow: 1;
  }
  .equipList {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 510px;
    margin: 50px 0;
  }
  .totalPriceBlock {
    width: 100%;
    text-align: right;
  }
  .totalPrice {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #16181D;
  }
  .maskList {
    display: inline-flex;
    width: 600px;
  }
  .airList {
    display: inline-flex;
    width: 600px;
  }
  .shoeList {
    display: inline-flex;
    width: 600px;
  }
  .equipDescribeBlock {
    height: 150px;
    line-height: 150px;
  }
  .equipBlock {
    display: block;
    width: 130px;
    margin: 10px;
    margin: 10px;
    text-align: center;
  }
  .bubbleBackground {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    background-image: url("../img/game/bubbleBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .price {
    display: block;
  }
  .equip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    cursor: pointer;
  }
  .gameGif {
    display: none;
  }
  .gameGifRWD {
    display: block;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .copyright {
    position: relative;
  }
  .choseEquipment {
    display: inline-block;
    text-align: center;
  }
  .parent_container {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .changeRole {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
  }
  .choseRole {
    width: 100%;
    text-align: center;
  }
  .choseRoleBlock {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
  .margin {
    margin: 0 20px 0 0;
  }
  .changeRoleBtnBlock {
    width: 50px;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .changeRoleBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }
  svg {
    outline: none;
  }
  .playRole {
    margin: auto 10px;
    width: 50%;
    display: inline-flex;
  }
  .playRole img {
    max-width: 100%;
  }
  .abilityBlock {
    position: relative;
    display: flex;
    width: 100%;
  }
  .ability {
    width: 100px;
    margin: 20px 0;
    text-align: center;
  }
  .abilityBlock img {
    max-width: 100%;
  }
  .abilityDescribe {
    width: 100%;
    display: flex;
  }
  .flexGrow {
    display: flex;
    flex-grow: 1;
  }
  .equipList {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
  }
  .totalPriceBlock {
    width: 100%;
    text-align: right;
  }
  .totalPrice {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #16181D;
  }
  .maskList {
    display: inline-flex;
    margin: 10px 0;
  }
  .airList {
    display: inline-flex;
    margin: 10px 0;
  }
  .shoeList {
    display: inline-flex;
    margin: 10px 0;
  }
  .equipDescribeBlock {
    height: 150px;
    line-height: 150px;
  }
  .equipBlock {
    display: block;
    width: 110px;
    margin: 5px;
    text-align: center;
  }
  .bubbleBackground {
    position: relative;
    width: 110px;
    height: 110px;
    display: block;
    text-align: center;
    background-image: url("../img/game/bubbleBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .price {
    display: block;
  }
  .equip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    cursor: pointer;
  }
}

@media all and (max-width: 576px) {
  body {
    height: auto;
  }
  .parent_score {
    position: relative;
    width: 100%;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    text-align: center;
  }
  .rankList {
    width: 100%;
    height: 460px;
    border-bottom: 3px solid rgba(254, 254, 254, 0.75);
    margin: 25px auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=game.css.map */