body {
  background-image: url("../img/index/azurlane.png");
  background-repeat: no-repeat;
  height: auto;
}

h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}

.waves {
  z-index: -1;
  position: relative;
  top: 0px;
}

.waves img {
  width: 100%;
}

.waves .biglogo {
  position: absolute;
  top: 40%;
  left: 8%;
}

.waves .biglogo img {
  height: 250px;
  padding: 5px;
  width: auto;
}

h2 {
  margin-top: 200px;
  margin-left: 150px;
}

.bubb {
  position: relative;
}

.bubb .bubbleCircle {
  width: 200px;
  height: 200px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  position: absolute;
  right: 22%;
}

.bubb .firstBubble {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 40%;
}

.bubb .secondBubble {
  width: 120px;
  height: 120px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
}

.container {
  display: block;
  width: 600px;
  margin: 160px auto 0;
  height: 400px;
  position: relative;
}

.container .spotTitle {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fefefe;
  font-size: 24px;
}

.container .scene {
  height: 400px;
  background-image: url("../img/index/diveSpotNew.png");
  background-size: 81%;
  background-position: 50% center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container .scene img {
  width: 90px;
}

.container::before, .container::after {
  content: '';
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container::before {
  background-image: url("../img/index/maskDark.png");
  width: 600px;
  height: 400px;
}

.container::after {
  background-image: url("../img/index/tube.png");
  width: 100%;
  height: 100%;
  bottom: 0;
  left: -49%;
  z-index: 2;
}

.weatherNow {
  width: 100%;
  text-align: center;
}

.weatherNow .fas {
  color: #16181D;
  margin: 15px;
  font-size: 19.2px;
}

.spotBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotBtn .bubbleBtn {
  margin: 30px;
}

.containerCourse {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerCourse .courseUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

.containerCourse .courseUp .courseBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

.containerCourse .courseUp .courseBox .animal {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.containerCourse .courseUp .courseBox .animal img {
  width: 150px;
}

.containerCourse .courseUp .courseBox .animal .windows {
  border-radius: 50%;
}

.containerCourse .courseUp .courseBox .animal .turtle {
  position: absolute;
  left: 12%;
  top: 20%;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
}

.containerCourse .courseUp .courseBox .courseTxt {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.containerCourse .courseUp .courseBox .courseTxt span {
  display: inline-block;
  width: 120px;
  background-color: #fefefe;
  padding: 6px 10px;
  border: 9px solid #3f4645;
}

.containerCourse .courseDown .coachCard {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerCourse .courseDown .card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.containerCourse .courseDown .card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.containerCourse .courseDown .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(117, 104, 189, 0.5)), to(#121311));
  background: linear-gradient(to bottom, rgba(117, 104, 189, 0.5), #121311);
  z-index: 2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
}

.containerCourse .courseDown .card:hover::before {
  opacity: 1;
}

.containerCourse .courseDown .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.containerCourse .courseDown .card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.containerCourse .courseDown .card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.containerCourse .courseDown .card .info h3 {
  margin: 0;
}

.containerCourse .courseDown .card .info p {
  text-align: justify;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.containerCourse .courseDown .card .info .readMore {
  position: absolute;
  right: 1%;
  top: 97%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.containerCourse .courseDown .card .info .readMore:hover {
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.courseTxt::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 9%;
  border-top: 2px solid  #3f4645;
  width: 65px;
  -webkit-transform: rotateZ(-200deg);
          transform: rotateZ(-200deg);
}

.courseTxt::after {
  content: '';
  position: absolute;
  top: -20%;
  right: 9%;
  border-bottom: 2px solid #3f4645;
  width: 65px;
  -webkit-transform: rotateZ(-160deg);
          transform: rotateZ(-160deg);
}

.courseBox:hover .turtle {
  -webkit-animation: curved 3s ease-in-out 1;
          animation: curved 3s ease-in-out 1;
}

@-webkit-keyframes curved {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  25% {
    -webkit-transform: rotateX(180deg), rotateY(27deg);
            transform: rotateX(180deg), rotateY(27deg);
  }
  50% {
    -webkit-transform: rotateX(270deg), rotateY(180deg);
            transform: rotateX(270deg), rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(90deg), rotateY(90deg);
            transform: rotateX(90deg), rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg), rotateY(0deg);
            transform: rotateX(0deg), rotateY(0deg);
  }
}

@keyframes curved {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  25% {
    -webkit-transform: rotateX(180deg), rotateY(27deg);
            transform: rotateX(180deg), rotateY(27deg);
  }
  50% {
    -webkit-transform: rotateX(270deg), rotateY(180deg);
            transform: rotateX(270deg), rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(90deg), rotateY(90deg);
            transform: rotateX(90deg), rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg), rotateY(0deg);
            transform: rotateX(0deg), rotateY(0deg);
  }
}

.shop {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .demoman {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.shop .demoman img {
  width: 200px;
  margin-left: 150px;
}

.shop .itemList {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop .itemList div {
  margin-bottom: 30px;
}

.shop .itemList span {
  color: #fefefe;
  font-weight: bold;
  font-size: 24px;
}

.shop .itemList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .itemList .item a {
  margin-right: 30px;
}

.shop .itemList .mask {
  margin-left: 140px;
}

.shop .itemList .watch {
  margin-left: 80px;
}

.shop .itemList .gloves {
  margin-left: 200px;
}

.shopBtn {
  text-align: center;
}

.diary {
  max-width: 1200px;
  margin: 50px auto;
}

.bigDiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
}

.bigDiary .pageLeft {
  width: 50%;
}

.bigDiary .pageLeft .pageLeftImg {
  font-size: 0;
}

.bigDiary .pageLeft .pageLeftImg img {
  border-radius: 5px 0 0 5px;
}

.bigDiary .pageLeft .pageLeftLine {
  border: 1px solid black;
  height: 150px;
}

.bigDiary .pageRight {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  background-color: #16181D;
}

.bigDiary .pageRight hr {
  border: 0;
  background-color: rgba(254, 254, 254, 0.75);
  height: 1px;
}

.bigDiary .pageRight .share {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 5px;
  padding-bottom: 10px;
}

.bigDiary .pageRight .share p:nth-child(1) a:nth-child(1) {
  color: #fefefe;
  font-size: 14px;
}

.bigDiary .pageRight .share p {
  padding: 5px;
}

.bigDiary .pageRight .share p a {
  color: #fefefe;
  font-size: 20px;
}

.bigDiary .pageRight .rightTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bigDiary .pageRight .rightTitle .rightNameImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigDiary .pageRight .rightTitle .rightNameImg .rightImg img {
  border-radius: 50%;
  width: 52px;
  border: 1px solid #fefefe;
}

.bigDiary .pageRight .rightTitle .rightNameImg .rightName {
  padding-left: 10px;
}

.bigDiary .pageRight .rightTitle .rightNameImg .rightName p:nth-child(1) {
  margin-bottom: 10px;
  font-size: 18px;
}

.bigDiary .pageRight .rightTitle .rightNameImg .rightName p {
  color: #fefefe;
}

.bigDiary .pageRight .rightTitle .rightNameText p:nth-child(1) {
  font-size: 18px;
  margin-bottom: 10px;
}

.bigDiary .pageRight .rightTitle .rightNameText p {
  color: #fefefe;
  text-align: right;
}

.bigDiary .pageRight .rightInformation {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bigDiary .pageRight .rightInformation div p:nth-child(2) {
  font-size: 24px;
  padding: 10px 0px;
}

.bigDiary .pageRight .rightInformation div p {
  text-align: center;
  color: #fefefe;
}

.bigDiary .pageRight .rightData {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.bigDiary .pageRight .rightData .rightDataA {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bigDiary .pageRight .rightData .rightDataA div p:nth-child(2) {
  font-size: 19.2px;
  padding: 5px 0px;
}

.bigDiary .pageRight .rightData .rightDataA div p {
  color: #fefefe;
  text-align: center;
  font-size: 14px;
}

.bigDiary .pageRight .rightData .rightDataA div span:nth-child(2) {
  font-size: 16px;
}

.bigDiary .pageRight .rightData .rightDataB {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bigDiary .pageRight .rightData .rightDataB div p:nth-child(2) {
  font-size: 19.2px;
  padding: 5px 0px;
}

.bigDiary .pageRight .rightData .rightDataB div p {
  color: #fefefe;
  text-align: center;
}

.bigDiary .pageRight .rightData .rightDataB div p span:nth-child(2) {
  font-size: 16px;
}

.bigDiary .pageRight .rightData .rightDataB div p i {
  font-size: 20px;
}

.bigDiary .pageRight .rightData .rightDataB div span:nth-child(2) {
  font-size: 16px;
}

.bigDiary .pageRight .biological {
  color: #fefefe;
  width: 100%;
  padding: 10px 0px;
}

.bigDiary .pageRight .rightPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bigDiary .pageRight .rightPicture div {
  margin: 0 30px;
}

.bigDiary .pageRight .rightContent {
  width: 100%;
  padding: 10px;
}

.bigDiary .pageRight .rightContent p {
  color: #fefefe;
}

.smallDiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smallDiary .diarySolid {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.smallDiary .diarySolid a .imgContent {
  width: 100%;
  position: relative;
}

.smallDiary .diarySolid a .imgContent .imgSolid {
  width: 100%;
}

.smallDiary .diarySolid a .imgContent .imgSolid img {
  vertical-align: top;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userLogo {
  width: 42px;
  border-radius: 50%;
  border: 1px solid #fefefe;
  overflow: hidden;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userLogo img {
  vertical-align: top;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userName {
  padding-left: 10px;
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .userText {
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB {
  position: absolute;
  bottom: 0;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB .diaryTitleText {
  padding: 0px 15px 15px 15px;
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB .diaryTitleDate {
  padding: 0px 15px 15px 15px;
  color: #fefefe;
}

.smallDiary .diarySolid .diaryText {
  width: 100%;
  padding: 10px;
  background-color: #fefefe;
}

.smallDiary .diarySolid .diaryText .diaryTextData {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.smallDiary .diarySolid .diaryText .diaryTextData div:first-child p:nth-child(2) span:nth-child(1) {
  color: #467500;
  font-size: 32px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(1) {
  color: #073977;
  font-size: 10px;
  text-align: center;
  padding: 15px 0px 5px 0px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) {
  color: #073977;
  text-align: center;
  padding: 10px 0px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(1) {
  font-size: 32px;
  color: #073977;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  color: #073977;
}

.smallDiary .diarySolid .diaryTextP {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallDiary .diarySolid .diaryTextP .diaryTextPP {
  padding: 10px 0px 10px 10px;
  width: 100%;
  overflow: hidden;
  color: #073977;
}

.smallDiary .diarySolid .diaryTextP i {
  color: #073977;
}

.diaryCenter {
  position: relative;
  margin: 0 10px;
}

.diaryCenter::after {
  content: '';
  display: inline-block;
  width: 130px;
  height: 105px;
  background-image: url(../img/index/shaII.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 120px auto;
  position: absolute;
  left: 50%;
  bottom: -24.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.diaryCenter:hover::after {
  background-position: center bottom;
}

.gameCenter {
  max-width: 800px;
  margin-top: 30px;
  margin: auto;
  padding: 5px;
}

.gameCenter .gameH3 {
  margin-top: 50px;
}

.gameCenter .diveGif {
  text-align: center;
}

.gameCenter .diveGif img {
  width: 80%;
  margin: 50px auto;
}

.gameCenter .bubbleBtn {
  text-align: center;
  margin-bottom: 30px;
}

.bottomSunhoo {
  width: 100%;
  background-image: url(../img/index/homeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1500px) {
  .waves {
    top: 80px;
  }
}

@media screen and (max-width: 991px) {
  .waves .biglogo img {
    height: 150px;
  }
  .weather .firstBubble,
  .weather .secondBubble {
    display: none;
  }
  .weather .bubbleCircle {
    width: auto;
    height: 100px;
    background-image: none;
    position: static;
  }
  .weather .bubbleCircle .txt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    width: 400px;
    margin-top: 0;
  }
  .container::before {
    width: 400px;
  }
  .container::after {
    width: 60%;
    height: 60%;
    top: 20%;
    left: -30%;
  }
  .container .scene img {
    width: 60px;
  }
  .containerCourse .courseUp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerCourse .courseDown {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerCourse .courseDown .mainLeft .bubbleBtn {
    margin: 50px;
  }
  .shop .demoman {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .shop .demoman img {
    width: 150px;
  }
  .shop .itemList {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .bigDiary {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bigDiary .pageRight .rightData {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bigDiary .pageRight .rightData .rightDataB {
    margin: 20px 5px;
  }
  .bigDiary .pageLeft .pageLeftImg img {
    max-width: 100%;
    border-radius: 0;
  }
  .smallDiary .diarySolid {
    width: 250px;
  }
  .smallDiary .diarySolid .diaryText .diaryTextData div:first-child p:nth-child(2) span:nth-child(1),
  .smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(1) {
    font-size: 18px;
  }
  .diaryCenter:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop .demoman {
    display: none;
  }
  .shop .itemList {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .shop .itemList .mask,
  .shop .itemList .watch,
  .shop .itemList .gloves {
    margin-left: 0;
  }
  .shop .itemList .item img {
    width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .containerCourse .courseDown .mainLeft .courseH4 {
    margin: 0px;
  }
  .containerCourse .courseDown .mainLeft .courseItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.m6m6 {
  position: relative;
  /* Fish Animation */
  /**/
}

.m6m6 svg#fish {
  top: 5em;
  position: absolute;
}

.m6m6 svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: 50%;
  }
  90% {
    margin-left: 50%;
  }
  100% {
    margin-left: 50%;
  }
}

@keyframes swim {
  0% {
    margin-left: 50%;
  }
  70% {
    margin-left: 50%;
  }
  100% {
    margin-left: 50%;
  }
}

.m6m6 .fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.m6m6 svg #fish1,
.m6m6 svg #fish2,
.m6m6 svg #fish3,
.m6m6 svg #fish4,
.m6m6 svg #fish5,
.m6m6 svg #fish6 {
  fill: #464d4d;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.m6m6 svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.m6m6 svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.m6m6 svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.m6m6 svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.m6m6 svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*END Fish Animation*/
/*# sourceMappingURL=index.css.map */