body {
  background-image: url("../img/index/azurlane.png");
  background-repeat: no-repeat;
  height: auto;
}

h2 {
  margin-top: 200px;
  margin-left: 150px;
}

@-webkit-keyframes dolphinMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0.6;
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0.8;
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
}

@keyframes dolphinMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0.6;
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0.8;
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
  }
}

.bubble::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("../img/index/dolphin2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 90px;
  left: 30%;
  -webkit-animation-name: dolphinMove;
          animation-name: dolphinMove;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.bubb {
  position: relative;
}

.bubb .bubbleCircle {
  width: 200px;
  height: 200px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  position: absolute;
  right: 22%;
}

.bubb .firstBubble {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 40%;
}

.bubb .secondBubble {
  width: 120px;
  height: 120px;
  background-image: url("../img/index/bigbubble@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
}

.container {
  display: block;
  width: 600px;
  margin: 160px auto 0;
  height: 400px;
  position: relative;
}

.container .spotTitle {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fefefe;
  font-size: 24px;
}

.container .scene {
  height: 400px;
  background-image: url("../img/index/diveSpotNew.png");
  background-size: 81%;
  background-position: 50% center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container .scene img {
  width: 90px;
}

.container::before, .container::after {
  content: '';
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container::before {
  background-image: url("../img/index/maskDark.png");
  width: 600px;
  height: 400px;
}

.container::after {
  background-image: url("../img/index/tube.png");
  width: 100%;
  height: 100%;
  bottom: 0;
  left: -49%;
  z-index: 2;
}

.weatherNow {
  width: 100%;
  text-align: center;
}

.weatherNow .fas {
  color: #16181D;
  margin: 15px;
  font-size: 19.2px;
}

.spotBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotBtn .bubbleBtn {
  margin: 30px;
}

.containerCourse {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerCourse .courseUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

.containerCourse .courseUp .courseBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

.containerCourse .courseUp .courseBox .animal {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.containerCourse .courseUp .courseBox .animal img {
  width: 150px;
}

.containerCourse .courseUp .courseBox .animal .windows {
  border-radius: 50%;
}

.containerCourse .courseUp .courseBox .animal .turtle {
  position: absolute;
  left: 12%;
  top: 20%;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
}

.containerCourse .courseUp .courseBox .courseTxt {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.containerCourse .courseUp .courseBox .courseTxt span {
  display: inline-block;
  width: 120px;
  background-color: #fefefe;
  padding: 6px 10px;
  border: 9px solid #3f4645;
}

.containerCourse .courseDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 70%;
}

.containerCourse .courseDown .post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  width: 330px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.containerCourse .courseDown .post-module:hover .thumbnail img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}

.containerCourse .courseDown .post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
}

.containerCourse .courseDown .post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #E6AE2C;
  width: 55px;
  height: 55px;
  padding: 10px 0;
  border-radius: 100%;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerCourse .courseDown .post-module .thumbnail .date .day {
  font-size: 18px;
}

.containerCourse .courseDown .post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}

.containerCourse .courseDown .post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.containerCourse .courseDown .post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  /* transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s; */
}

.containerCourse .courseDown .post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #E6AE2C;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

.containerCourse .courseDown .post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
}

.containerCourse .courseDown .post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 10px;
  color: #E6AE2C;
  font-size: 20px;
}

.containerCourse .courseDown .post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.courseTxt::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 9%;
  border-top: 2px solid  #3f4645;
  width: 65px;
  -webkit-transform: rotateZ(-200deg);
          transform: rotateZ(-200deg);
}

.courseTxt::after {
  content: '';
  position: absolute;
  top: -20%;
  right: 9%;
  border-bottom: 2px solid #3f4645;
  width: 65px;
  -webkit-transform: rotateZ(-160deg);
          transform: rotateZ(-160deg);
}

.courseBox:hover .turtle {
  -webkit-animation: curved 2s ease-in-out 1;
          animation: curved 2s ease-in-out 1;
}

@-webkit-keyframes curved {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  25% {
    -webkit-transform: rotateX(180deg), rotateY(27deg);
            transform: rotateX(180deg), rotateY(27deg);
  }
  50% {
    -webkit-transform: rotateX(270deg), rotateY(180deg);
            transform: rotateX(270deg), rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(90deg), rotateY(90deg);
            transform: rotateX(90deg), rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg), rotateY(0deg);
            transform: rotateX(0deg), rotateY(0deg);
  }
}

@keyframes curved {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  25% {
    -webkit-transform: rotateX(180deg), rotateY(27deg);
            transform: rotateX(180deg), rotateY(27deg);
  }
  50% {
    -webkit-transform: rotateX(270deg), rotateY(180deg);
            transform: rotateX(270deg), rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(90deg), rotateY(90deg);
            transform: rotateX(90deg), rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg), rotateY(0deg);
            transform: rotateX(0deg), rotateY(0deg);
  }
}

.shop {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .demoman {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.shop .demoman img {
  width: 200px;
  margin-left: 150px;
}

.shop .itemList {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop .itemList div {
  margin-bottom: 30px;
}

.shop .itemList span {
  color: #fefefe;
  font-weight: bold;
  font-size: 24px;
}

.shop .itemList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .itemList .item a {
  margin-right: 30px;
}

.shop .itemList .mask {
  margin-left: 140px;
}

.shop .itemList .watch {
  margin-left: 80px;
}

.shop .itemList .gloves {
  margin-left: 200px;
}

.shopBtn {
  text-align: center;
}

.diary {
  max-width: 1200px;
  margin: 50px auto;
}

.bigDiary {
  margin: auto;
}

.bigDiary .cardContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
}

.bigDiary .imgContainer {
  width: 425px;
  height: 425px;
}

.bigDiary .imgContainer img {
  height: 100%;
  vertical-align: bottom;
}

.bigDiary .blogContent {
  width: 425px;
  padding-left: 20px;
  background-color: #16181d;
  color: #fefefe;
  height: 425px;
}

.bigDiary .blogContent p {
  display: inline-block;
  text-align: center;
  margin: 10px 20px;
}

.bigDiary .blogContent span {
  display: block;
  margin-top: 2px;
}

.bigDiary .blogContent div {
  margin: 10px 0;
}

.bigDiary .profile img {
  border-radius: 50%;
  border: 1px solid #fefefe;
}

.bigDiary .profile img, .bigDiary .profile .nameDate {
  display: inline-block;
  vertical-align: middle;
}

.bigDiary .profile p {
  display: block;
}

.bigDiary .blogWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bigDiary .sublife img {
  margin: 5px 8px;
}

.bigDiary .sublife p {
  display: block;
}

@media screen and (max-width: 768px) {
  .bigDiary .bigContent {
    width: 425px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  .bigDiary .cardContainer {
    width: 90%;
    margin: 0 auto;
  }
  .bigDiary .imgContainer {
    width: 375px;
    height: 375px;
    overflow-x: hidden;
  }
  .bigDiary .blogContent {
    width: 375px;
  }
  .bigDiary .blogContent p {
    margin: 10px 0px;
    margin-left: 10px;
  }
}

.smallDiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smallDiary .diarySolid {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.smallDiary .diarySolid a .imgContent {
  width: 100%;
  position: relative;
}

.smallDiary .diarySolid a .imgContent .imgSolid {
  width: 100%;
}

.smallDiary .diarySolid a .imgContent .imgSolid img {
  vertical-align: top;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userLogo {
  width: 42px;
  border-radius: 50%;
  border: 1px solid #fefefe;
  overflow: hidden;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userLogo img {
  vertical-align: top;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .diaryTitleFlex .userName {
  padding-left: 10px;
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleA .userText {
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB {
  position: absolute;
  bottom: 0;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB .diaryTitleText {
  padding: 0px 15px 15px 15px;
  color: #fefefe;
}

.smallDiary .diarySolid a .imgContent .diaryTitleB .diaryTitleDate {
  padding: 0px 15px 15px 15px;
  color: #fefefe;
}

.smallDiary .diarySolid .diaryText {
  width: 100%;
  padding: 10px;
  background-color: #fefefe;
}

.smallDiary .diarySolid .diaryText .diaryTextData {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.smallDiary .diarySolid .diaryText .diaryTextData div:first-child p:nth-child(2) span:nth-child(1) {
  color: #467500;
  font-size: 32px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(1) {
  color: #073977;
  font-size: 10px;
  text-align: center;
  padding: 15px 0px 5px 0px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) {
  color: #073977;
  text-align: center;
  padding: 10px 0px;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(1) {
  font-size: 32px;
  color: #073977;
}

.smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  color: #073977;
}

.smallDiary .diarySolid .diaryTextP {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallDiary .diarySolid .diaryTextP .diaryTextPP {
  padding: 10px 0px 10px 10px;
  width: 100%;
  overflow: hidden;
  color: #073977;
}

.smallDiary .diarySolid .diaryTextP i {
  color: #073977;
}

.diaryCenter {
  position: relative;
  margin: 0 10px;
}

.diaryCenter::after {
  content: '';
  display: inline-block;
  width: 130px;
  height: 105px;
  background-image: url(../img/index/shaII.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 120px auto;
  position: absolute;
  left: 50%;
  bottom: -24.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.diaryCenter:hover::after {
  background-position: center bottom;
}

.gameCenter {
  max-width: 800px;
  margin-top: 30px;
  margin: auto;
  padding: 5px;
}

.gameCenter .gameH3 {
  margin-top: 50px;
}

.gameCenter .diveGif {
  text-align: center;
}

.gameCenter .diveGif img {
  width: 80%;
  margin: 50px auto;
}

.gameCenter .bubbleBtn {
  text-align: center;
  margin-bottom: 30px;
}

.bottomSunhoo {
  position: relative;
  width: 100%;
  background-image: url(../img/index/homeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.RK {
  position: absolute;
  top: 17%;
  right: 2%;
  width: 300px;
}

@media screen and (max-width: 1300px) {
  .bubbleCircle {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .containerCourse .courseDown {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {
  .firstBubble,
  .secondBubble {
    display: none;
  }
  .container {
    width: 400px;
    margin-top: 0;
  }
  .container::before {
    width: 400px;
  }
  .container::after {
    width: 60%;
    height: 60%;
    top: 20%;
    left: -30%;
  }
  .container .scene img {
    width: 60px;
  }
  .containerCourse .courseUp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerCourse .courseDown .bubbleBtn {
    margin: 50px;
  }
  .shop .demoman {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .shop .demoman img {
    width: 150px;
  }
  .shop .itemList {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .bigDiary {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smallDiary .diarySolid {
    width: 250px;
  }
  .smallDiary .diarySolid .diaryText .diaryTextData div:first-child p:nth-child(2) span:nth-child(1),
  .smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(1) {
    font-size: 18px;
  }
  .diaryCenter:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop .demoman {
    display: none;
  }
  .shop .itemList {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .shop .itemList .mask,
  .shop .itemList .watch,
  .shop .itemList .gloves {
    margin-left: 0;
  }
  .shop .itemList .item img {
    width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .containerCourse .courseDown .courseH4 {
    margin: 0px;
  }
  .containerCourse .courseDown .courseItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.m6m6 {
  position: relative;
  /* Fish Animation */
  /**/
}

.m6m6 svg#fish {
  top: 5em;
  position: absolute;
}

.m6m6 svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: 50%;
  }
  90% {
    margin-left: 50%;
  }
  100% {
    margin-left: 50%;
  }
}

@keyframes swim {
  0% {
    margin-left: 50%;
  }
  70% {
    margin-left: 50%;
  }
  100% {
    margin-left: 50%;
  }
}

.m6m6 .fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.m6m6 svg #fish1,
.m6m6 svg #fish2,
.m6m6 svg #fish3,
.m6m6 svg #fish4,
.m6m6 svg #fish5,
.m6m6 svg #fish6 {
  fill: #464d4d;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.m6m6 svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.m6m6 svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.m6m6 svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.m6m6 svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.m6m6 svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*END Fish Animation*/
/*# sourceMappingURL=index.css.map */