@import "./common/variables";

@media all and (min-width: 1200px){
    body {
        font-family: $en, $zh;
        box-sizing: border-box;
        // overflow: hidden;
    }
    
    //footer置底
    .copyright {
        position: absolute;
        bottom: 0;
    }

    h2 {
        color: $transparentWhite;
        margin: 0 0 20px 0;
    }
    
    h3 {
        color: $transparentWhite;
    }
    
    h4 {
        font-size: 24px;
        color: $transparentWhite;
    }
    
    p {
        font-size: $baseFz;
        color: $transparentWhite;
        margin: 5px;
    }
    
    .parent_title {
        width: 1200px;
        margin: 25px auto 0 auto;
        text-align: center;
    }
    
    .choseRole {
        display: inline-block;
        text-align: center;
    }
    
    .choseEquipment {
        display: inline-block;
        text-align: center;
    }
    
    .totalPrice {
        display: inline-block;
    }
    
    .parent_container {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: center;
        margin: 20px auto;
        box-sizing: border-box;
    }
    
    .changeRole{
        position: relative;
        display: inline-flex;
        flex-grow: 1;

    }
    .changeRoleBtnBlock{
        width: 50px;
        height: 100%;
        display: inline-block;
        position: relative;
        
    }
    .changeRoleBtn{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border: 0;
        outline: none;
        background-color: transparent;
    }

    svg{
        outline: none;
    }

    .playRole {
        margin: auto 50px;
        width: 142px;
        display: block;
    }
    
    .abilityBlock{
        position: relative;
        width: 200px;
        margin: 0 50px 0 0 ; 
    }
    .ability{
        position: absolute;
        bottom: 0;
        width: 200px;
        margin: 20px 0;
        text-align: center;
        
    }
    .abilityDescribe{
        width: 100%;
        display: inline-flex;
    }
    .flexGrow{
        flex-grow: 1;
    }
    .equipList {
        // display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 600px;
    }
    .maskList {
        display: inline-flex;
        width: 600px;
    }
    .airList {
        display: inline-flex;
        width: 600px;
    }
    .shoeList {
        display: inline-flex;
        width: 600px;
    }
    .equipDescribeBlock{
        height: 150px;
        line-height:150px;
    }

    .equipBlock{
        display: block;
        width: 130px;
        margin: 10px;
        margin: 10px;
        text-align: center;
    }

    .bubbleBackground{
        position: relative;
        width: 130px;
        height: 130px;
        display: block;
        text-align: center;
        background-image: url("../img/game/bubbleBackground.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .price{
        display: block;
    }
    
    .equip {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        cursor: pointer;
    }
    
    .equip img {
        width: auto;
    }
    
    
    .eye img {
        position: absolute;
        top: 20px;
        left: 15px;
        transform: scale(1.15) rotate(170deg);
    }
    
    .back img {
        position: absolute;
        top: 28%;
        transform: translateX(-70%);
        z-index: -1;
    }
    
    .foot img {
        position: absolute;
        bottom: -30px;
        transform: scale(1.7) rotate(12deg) translate(10px, 5px);
    }
    
    .rule {
        
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 375px;
        background-color: $keyBlack; //$transparentWhite;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }
    
    .pRule{
        text-indent: 2em;
        line-height: 32px;
        margin: 20px;
        text-align: left;
    }
    .none {
        display: none;
    }
    
    
    .ruleBtnX {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 0;
        color: $transparentWhite;
        background: none;
    }
    
    .button--bubble{
        background: $keyWhite;
    }
    
    .button--bubble:hover {
        background: $keyWhite;
        color: $keyBlue;
    }
    
    //觸摸時泡泡顏色
    .button--bubble:hover+.button--bubble__effect-container .circle {
        background: $keyWhite;
    }
    
    //觸摸時背景顏色
    .button--bubble:hover+.button--bubble__effect-container .button {
        background:$keyWhite;
    }
    
    //泡泡變形中顏色
    .button--bubble__effect-container .circle{
        background: $keyWhite;
    }

    .startBtn .bubbleBtn {
        text-align: center;
        margin: 20px;
    }
    
    //game.html
    .parent_gameGif{
        width: 100%;
        text-align: center;
    }
    .gameGif{
        display: block;
    }
    .gameGifRWD{
        display: none;
    }
    //gameResort.html
    
    .parent_score {
        position: relative;
        width: 576px;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        text-align: center;
    }
    
    .parent_score img {
        width: 100px;
    }
    
    .scoreDescribe {
        font-size: 60px;
        color: White;
        margin: 10px;
    }
    
    .resortRole {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .goShopBtn .bubbleBtn {
        text-align: right;
        margin: 10px;
    }
    
    .rankList {
        width: 576px;
        height: 460px;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: $transparentWhite; 
    }
       
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #888; 
    }
      
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
    .record {
        display: flex;
    }
    
    .record img{
        width: 80px;
        height: 80px;
        margin: 20px;
        // border: 1px solid $keyBlack;
        background-color: $transparentWhite;
        border-radius: 50%;
    }
    
    .record h3{
        flex-grow: 1;
        width: 100px;
        margin: auto 0;
    }
    
    .record h4{
        flex-grow: 1;
        margin: auto 0;
    }

    .restartBtn .bubbleBtn{
        text-align: center;
        margin: 20px;
    }
}

@media all and (max-width: 1200px){
    body {
        font-family: $en, $zh;
        box-sizing: border-box;
        // overflow: hidden;
    }
    
    // .copyright {
    //     position: absolute;
    //     bottom: 0;
    // }
    
    h2 {
        color: $transparentWhite;
    }
    
    h3 {
        color: $transparentWhite;
    }
    
    h4 {
        font-size: 24px;
        color: $transparentWhite;
    }
    
    p {
        font-size: $baseFz;
        color: $transparentWhite;
        margin: 20px;
        text-align: left;
    }
    
    .parent_title {
        width: 1200px;
        margin: 25px auto;
        text-align: center;
    }
    
    .choseRole {
        width: 49%;
        display: inline-block;
        text-align: center;
    }
    
    .choseEquipment {
        width: 49%;
        display: inline-block;
    }
    
    .chose {
        display: inline-block;
        text-align: center;
    }
    
    .totalPrice {
        display: inline-block;
    }
    
    .parent_container {
        display: flex;
        width: 1200px;
        justify-content: center;
        margin: 30px auto;
        box-sizing: border-box;
        position: relative;
    }
    
    .playRole {
        align-self: center;
        position: relative;
    }
    
    
    .equipList {
        // display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 500px;
    }
    
    .maskList {
        position: relative;
        width: 100%;
        display: flex;
    }
    
    .airList {
        position: relative;
        width: 100%;
        display: flex;
    }
    
    .shoeList {
        position: relative;
        width: 100%;
        display: flex;
    }
    
    .equip {
        box-sizing: border-box;
        margin: 20px;
        padding: 20px;
        list-style: none;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .equip img {
        width: auto;
    }
    
    
    .eye img {
        position: absolute;
        top: 20px;
        left: 15px;
        transform: scale(1.15) rotate(170deg);
    }
    
    .back img {
        position: absolute;
        top: 28%;
        transform: translateX(-70%);
        z-index: -1;
    }
    
    .foot img {
        position: absolute;
        bottom: -30px;
        transform: scale(1.7) rotate(12deg) translate(10px, 5px);
    }
    
    .rule {
        width: 375px;
        position: fixed;
        top: 100px;
        background-color: $keyBlack; //$transparentWhite;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }
    
    .none {
        display: none;
    }
    
    
    button.ruleBtnX {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 0;
        color: $transparentWhite;
        background: none;
    }
    
    .startBtn .bubbleBtn {
        text-align: center;
        margin: 20px;
    }
    
    //game.html
    .parent_gameGif{
        width: 100%;
        text-align: center;
    }
    .gameGif{
        display: block;
    }
    .gameGifRWD{
        display: none;
    }
    //gameResort.html
    
    .parent_score {
        position: relative;
        width: 576px;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        text-align: center;
    }
    
    .parent_score img {
        width: 100px;
    }
    
    .scoreDescribe {
        font-size: 60px;
        color: White;
        margin: 10px;
    }
    
    .resortRole {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .goShopBtn .bubbleBtn {
        text-align: right;
        margin: 10px;
    }
    
    .rankList {
        width: 576px;
        height: 460px;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: $transparentWhite; 
    }
       
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #888; 
    }
      
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
    .record {
        display: flex;
    }
    
    .record img{
        width: 80px;
        height: 80px;
        margin: 20px;
        // border: 1px solid $keyBlack;
        background-color: $transparentWhite;
        border-radius: 50%;
    }
    
    .record h3{
        flex-grow: 1;
        width: 100px;
        margin: auto 0;
    }
    
    .record h4{
        flex-grow: 1;
        margin: auto 0;
    }

    .restartBtn .bubbleBtn{
        text-align: center;
        margin: 20px;
    }
}

@media all and (max-width: 991px){

}

@media all and (max-width: 768px){

}

@media all and (max-width: 576px){

    .parent_score {
        position: relative;
        width: 100%;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        text-align: center;
    }

    .rankList {
        width: 100%;
        height: 460px;
        border-bottom: 3px solid $transparentWhite;
        margin: 25px auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .gameGif{
        display: none;
    }
    .gameGifRWD{
        display: block;
    }
}

@media all and (max-width: 375px){

}

        