@import "../common/variables";

body {
    background-image: url("../img/index/azurlane.png");
    background-repeat: no-repeat;
    height: auto;
}



h2 {
    margin-top: 200px;
    margin-left: 150px;
}

//海豚
@keyframes dolphinMove{
    0%{
        transform: rotate(0deg);
        transform-origin: top left;
        opacity: 0;
    }
    20%{
        transform: rotate(72deg);
        transform-origin: top left;
        opacity: 0;
    }
    40%{
        transform: rotate(144deg);
        transform-origin: top left;
        opacity: 0.6;
    }
    60%{
        transform: rotate(216deg);
        transform-origin: top left;
        opacity: 0.8;
    }
    80%{
        transform: rotate(288deg);
        transform-origin: top left;
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        transform-origin: top left;
        opacity: 0;
    }
}

.bubble::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/index/dolphin2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 90px;
    left: 30%;
    animation-name: dolphinMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


//潛點推薦
.bubb {
    position: relative;

    .bubbleCircle {
        width: 200px;
        height: 200px;
        background-image: url("../img/index/bigbubble@2x.png");
        background-repeat: no-repeat;
        background-size: contain;

        text-align: center;
        position: absolute;
        right: 22%;

    }

    .firstBubble {
        width: 60px;
        height: 60px;
        margin-top: 60px;
        background-image: url("../img/index/bigbubble@2x.png");
        background-repeat: no-repeat;
        background-size: contain;

        position: absolute;
        left: 40%;
    }

    .secondBubble {
        width: 120px;
        height: 120px;
        background-image: url("../img/index/bigbubble@2x.png");
        background-repeat: no-repeat;
        background-size: contain;

        position: absolute;
        left: 50%;
    }
}


.container {
    display: block;
    width: 600px;
    margin: 160px auto 0;
    height: 400px;
    position: relative;

    .spotTitle {
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translate(-50%);
        color: #fefefe;
        font-size: 24px;
    }

    .scene {
        height: 400px;
        background-image: url("../img/index/diveSpotNew.png");
        background-size: 81%;
        background-position: 50% center;
        background-repeat: no-repeat;
        z-index: -1;

        img {
            width: 90px;
        }
    }
}

%parallax {
    content: '';
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    transform: scale(1.2);
}

.container::before {
    @extend %parallax;
    background-image: url("../img/index/maskDark.png");
    width: 600px;
    height: 400px;
}

.container::after {
    @extend %parallax;
    background-image: url("../img/index/tube.png");
    width: 100%;
    height: 100%;
    bottom: 0;
    left: -49%;
    z-index: 2;
}

.weatherNow{
    width: 100%;
    text-align: center;

    .fas{
        color: $keyBlack;
        margin: 15px;
        font-size: 1.2*$baseFz;
    }
}


.spotBtn {
    display: flex;
    justify-content: center;

    .bubbleBtn {
        margin: 30px;
    }
}




//潛水課程
.containerCourse {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;

    .courseUp {
        display: flex;
        // border: 1px solid red;
        margin: 50px auto;

        // background-image: url(../img/index/submarineCut.png);
        // background-repeat: no-repeat;
        // background-position: center -100%;
        // background-size: contain;
        // z-index: -1;
        .courseBox {
            // border: 1px solid #000;
            display: flex;
            flex-direction: column;
            margin: 30px;

            .animal {
                overflow: hidden;
                border-radius: 50%;
                position: relative;

                img {
                    width: 150px;
                }

                .windows {
                    border-radius: 50%;
                }

                .turtle {
                    position: absolute;
                    left: 12%;
                    top: 20%;
                    z-index: -1;

                    transform-style: preserve-3d;
                    transform: perspective(500px);
                }
            }

            .courseTxt {
                text-align: center;
                margin-top: 10px;
                position: relative;
                span {
                    display: inline-block;
                    width: 120px;
                    background-color: $keyWhite;
                    padding: 6px 10px;
                    border: 9px solid #3f4645;
                }
            }
        }
    }

    .courseDown {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 70%;
        
        .post-module {
            position: relative;
            z-index: 1;
            display: block;
            background: #FFFFFF;
            min-width: 270px;
            height: 470px;
            width: 330px;
            transition: all 0.3s linear 0s;
        }
        
        .post-module:hover .thumbnail img{
            transform: scale(1.1);
            opacity: 0.6;
        }
        
        .post-module .thumbnail {
            background: #000000;
            height: 400px;
            overflow: hidden;
        }
        
        .post-module .thumbnail .date {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background: #E6AE2C;
            width: 55px;
            height: 55px;
            padding: 7px 0;
            border-radius: 100%;
            color: #FFFFFF;
            font-weight: 700;
            text-align: center;
            box-sizing: border-box;
        }
        
        .post-module .thumbnail .date .day {
            font-size: 18px;
        }
        
        .post-module .thumbnail .date .month {
            font-size: 12px;
            text-transform: uppercase;
        }
        
        .post-module .thumbnail img {
            display: block;
            width: 120%;
            transition: all 0.3s linear 0s;
        }
        
        .post-module .post-content {
            position: absolute;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
            transition: all 0.3s linear 0s;
            /* transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s; */
        
        }
        
        .post-module .post-content .category {
            position: absolute;
            top: -38px;
            left: 0;
            background: #E6AE2C;
            padding: 10px 15px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
        }
        
        .post-module .post-content .title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 26px;
        }
        
        .post-module .post-content .sub_title {
            margin: 0;
            padding: 0 0 10px;
            color: #E6AE2C;
            font-size: 20px;
        }
        
        .post-module .post-content .description {
            display: none;
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
        }
        
    }
}
        //     .coachCard {
        //         margin: auto;
        //         display: flex;
        //         flex-direction: row;
        //         width: 70%;
        //         justify-content: space-around;
        //     }
    
        //     .card {
        //         width: 280px;
        //         height: 360px;
        //         padding: 2rem 1rem;
        //         background: #fff;
        //         position: relative;
        //         display: flex;
        //         align-items: flex-end;
        //         box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        //         transition: 0.5s ease-in-out;
        //     }
    
        //     .card:hover {
        //         transform: translateY(20px);
        //     }
    
        //     .card::before {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         display: block;
        //         width: 100%;
        //         height: 100%;
        //         background: linear-gradient(to bottom, rgba(117, 104, 189, 0.5), rgb(18, 19, 17));
        //         z-index: 2;
        //         transition: 0.5s all;
        //         opacity: 0;
        //     }
    
        //     .card:hover::before {
        //         opacity: 1;
        //     }
    
        //     .card img {
        //         width: 100%;
        //         height: 100%;
        //         object-fit: cover;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //     }
    
        //     .card .info {
        //         position: relative;
        //         z-index: 3;
        //         color: #fff;
        //         opacity: 0;
        //         transform: translateY(30px);
        //         transition: 0.5s all;
        //     }
    
        //     .card:hover .info {
        //         opacity: 1;
        //         transform: translateY(0px);
        //     }
    
        //     .card .info h3 {
        //         margin: 0;
        //     }
    
        //     .card .info p {
        //         text-align: justify;
        //         font-size: 16px;
        //         margin-top: 8px;
        //         margin-bottom: 20px;
        //     }
    
        //     .card .info .readMore {
        //         position: absolute;
        //         right: 1%;
        //         top: 97%;
        //         text-decoration: none;
        //         padding: 0.5rem 1rem;
        //         background-color: #fff;
        //         color: #000;
        //         font-size: 14px;
        //         font-weight: bold;
        //         cursor: pointer;
        //         transition: 0.4s ease-in-out;
        //     }
    
        //     .card .info .readMore:hover {
        //         box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        //     }
        // }

.courseTxt::before{
    content: '';
    position: absolute;
    top: -20%;
    left: 9%;
    border-top: 2px solid  #3f4645;
    width: 65px;
    transform: rotateZ(-200deg);

}
.courseTxt::after{
    content: '';
    position: absolute;
    top: -20%;
    right: 9%;
    border-bottom: 2px solid #3f4645;
    width: 65px;
    transform: rotateZ(-160deg);

}



.courseBox:hover .turtle {
    animation: curved 2s ease-in-out 1;

}

@keyframes curved {
    0% {
        transform: rotateY(360deg);
    }

    25% {
        transform: rotateX(180deg), rotateY(27deg);
    }

    50% {
        transform: rotateX(270deg), rotateY(180deg);
    }

    75% {
        transform: rotateX(90deg), rotateY(90deg);
    }

    100% {
        transform: rotateX(0deg), rotateY(0deg);
    }
}




.shop {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    display: flex;

    .demoman {
        flex: 10;

        img {
            width: 200px;
            margin-left: 150px;
        }
    }

    .itemList {
        flex: 9;
        display: flex;
        flex-direction: column;

        div {
            margin-bottom: 30px;
        }

        span {
            color: $keyWhite;
            font-weight: bold;
            font-size: 1.5*$baseFz;
        }

        .item {
            display: flex;
            align-items: center;

            a {
                margin-right: 30px;
            }
        }

        .mask {
            margin-left: 140px;
        }

        .watch {
            margin-left: 80px;
        }

        .gloves {
            margin-left: 200px;
        }
    }
}

.shopBtn {
    text-align: center;
}

.diary {
    max-width: 1200px;
    margin: 50px auto;
}

.bigDiary{
    margin: auto;
    .cardContainer{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
    
    .imgContainer{
        width: 425px;
        height: 425px;
    
        img{
            // width: auto;
            height: 100%;
            // max-width: 100%;
            // min-width: 100%;
            vertical-align: bottom;
        }
    }
    
    
    
    .blogContent{
    
        width: 425px;
        padding-left: 20px;
        background-color: #16181d;
        color: #fefefe;
        height: 425px;
    
        p{
            display: inline-block;
            text-align: center;
            margin: 10px 20px;
        }
    
        span{
            display: block;
            margin-top: 2px;
        }
    
        div{
            margin: 10px 0;
        }
    
    
    
    }
    
    .profile{
        img{
            border-radius: 50%;
            border: 1px solid $keyWhite;
        }
        img,.nameDate{
            display: inline-block;
            vertical-align: middle;
        }
        p{
            display:block ;
        }
    }
    
    .blogWeather{
        display: flex;
        justify-content: space-around;
    }
    
    .sublife{
        img{
            margin: 5px 8px;
        }
        p{
            display:block ;
        }
    }
    
    
    @media screen and (max-width: 768px){
        
        .bigContent{
            width: 425px;
            padding-left: 0px;
        }
    }
    @media screen and (max-width: 576px){
     
        .cardContainer{
            width: 90%;
            margin: 0 auto;
        }
        .imgContainer{
            width: 375px;
            height: 375px;
            overflow-x: hidden;
        }
    
        .blogContent{
            width: 375px;
    
            p{
                margin: 10px 0px;
                margin-left: 10px;
            }
        }
    }
    
    @media screen and (max-width: 375px) {
    
    }
}



.smallDiary {
    display: flex;
    justify-content: center;

    .diarySolid {
        width: 300px;
        border-radius: 5px;
        overflow: hidden;

        a {
            .imgContent {
                // border: 1px solid red;
                width: 100%;
                position: relative;

                .imgSolid {
                    // border: 1px solid green;
                    width: 100%;

                    img {
                        vertical-align: top;
                    }
                }

                .diaryTitleA {
                    // border: 1px solid purple;
                    position: absolute;
                    top: 0;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 15px;

                    .diaryTitleFlex {
                        // border: 1px solid gold;
                        display: flex;
                        align-items: center;

                        .userLogo {
                            // border: 1px solid olivedrab;
                            width: 42px;
                            border-radius: 50%;
                            border: 1px solid $keyWhite;
                            overflow: hidden;

                            img {
                                vertical-align: top;
                            }
                        }

                        .userName {
                            // border: 1px solid yellow;
                            padding-left: 10px;
                            color: $keyWhite;
                        }
                    }

                    .userText {
                        // border: 1px solid pink;
                        color: $keyWhite;
                    }
                }

                .diaryTitleB {
                    // border: 1px solid purple;
                    position: absolute;
                    bottom: 0;

                    .diaryTitleText {
                        // border: 1px solid grey;
                        padding: 0px 15px 15px 15px;
                        color: $keyWhite;
                    }

                    .diaryTitleDate {
                        // border: 1px solid greenyellow;
                        padding: 0px 15px 15px 15px;
                        color: $keyWhite;
                    }
                }
            }
        }

        // 卡片文字內容
        .diaryText {
            // border: 1px solid black;
            width: 100%;
            padding: 10px;
            background-color: $keyWhite;

            .diaryTextData {
                // border: 1px solid yellowgreen;
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                div:first-child p:nth-child(2) span:nth-child(1) {
                    color: #467500;
                    font-size: 32px; //h4 *1.5
                }

                div {

                    // border: 1px solid purple;
                    p:nth-child(1) {
                        // border: 1px solid blue;
                        color: $keyBlue;
                        font-size: 10px;
                        text-align: center;
                        padding: 15px 0px 5px 0px;
                    }

                    p:nth-child(2) {
                        // border: 1px solid blue;
                        color: $keyBlue;
                        text-align: center;
                        padding: 10px 0px;

                        span:nth-child(1) {
                            // border: 1px solid blue;
                            font-size: 32px;
                            color: $keyBlue;
                        }

                        span:nth-child(2) {
                            // border: 1px solid orange;
                            font-size: $baseFz; //16px
                            color: $keyBlue;
                        }
                    }
                }
            }
        }

        .diaryTextP {
            // border: 1px solid orange;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .diaryTextPP {
                // border: 1px solid green;
                padding: 10px 0px 10px 10px;
                width: 100%;
                overflow: hidden;
                color: $keyBlue;
            }

            i {
                // border: 1px solid blue;
                color: $keyBlue;
            }
        }
    }
}

.diaryCenter {
    position: relative;
    margin: 0 10px;
}

.diaryCenter::after {
    content: '';
    display: inline-block;
    width: 130px;
    height: 105px;
    background-image: url(../img/index/shaII.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 120px auto;
    position: absolute;
    left: 50%;
    bottom: -24.5%;
    transform: translateX(-50%);
}

.diaryCenter:hover::after {
    background-position: center bottom;
}

// .diaryList{
//     font-size: 0;
//     position: relative;
//     margin-bottom: 50px;
//     .user{
//         display: flex;
//         position: absolute;
//         top: 2%;
//         left: 2%;
//         align-items: center;

//         > span{
//             font-size: 14px;
//             color: $keyWhite;
//             margin-left: 4px;
//         }
//         .adama{
//             border-radius: 50%;
//             border: 2px solid $keyWhite;
//         }
//         .diaryTitle{
//             font-size: 20px;
//             color: $keyWhite;
//             margin-left: 90px;
//         }
//     }
//     .local{
//         position: absolute;
//         bottom: 35%;
//         left: 2%;
//         color: #fefefe;
//         font-size: 14px;
//     }
//     .txt{
//         background-color: $transparentWhite;
//         padding-bottom: 20px;
//         color: $keyBlack;

//         .txtUp{
//             display: flex;
//             padding: 10px 0;
//             margin-bottom: 10px;
//             justify-content: space-evenly;
//             border-bottom: 1px solid gray;

//             .two{
//                 text-align: center;
//                 p:first-child{
//                     font-size: 12px;
//                     margin-bottom: 4px;
//                 }
//                 p:last-child{
//                     font-size: 14px;
//                 }
//             }
//         }
//         .txtDown{
//             font-size: $baseFz;
//             span{
//                 padding: 5px 15px;
//                 margin-left: 6px;
//             }
//         }
//     }

// }

//蝦蝦
// .diaryList::after{
//     content: '';
//     display: inline-block;
//     width: 130px;
//     height: 105px;
//     background-image: url(../img/index/shaII.png);
//     background-repeat: no-repeat;
//     background-position: center top;
//     background-size: 120px auto;
//     position: absolute;
//     left: 50%;
//     bottom: -32%;
//     transform: translateX(-50%);
// }
// .diaryList:hover::after{
//     background-position: center bottom;
// }

.gameCenter {
    max-width: 800px;
    margin-top: 30px;
    margin: auto;
    padding: 5px;
    
    .gameH3 {
        margin-top: 50px;
    }

    .diveGif {
        text-align: center;

        img {
            width: 80%;
            margin: 50px auto;
        }
    }

    .bubbleBtn {
        text-align: center;
        margin-bottom: 30px;
    }
}

.bottomSunhoo {
    position: relative;
    width: 100%;
    background-image: url(../img/index/homeBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.RK{
    position: absolute;
    top: 17%;
    right: 2%;
    width: 300px;
}




@media screen and (max-width:991px) {


    .weather {

        .firstBubble,
        .secondBubble {
            display: none;
        }

        .bubbleCircle {
            width: auto;
            height: 100px;
            background-image: none;
            position: static;

            .txt {
                flex-direction: row;
                justify-content: space-evenly;
                height: 100px;
                align-items: center;

            }
        }

    }

    .container {
        width: 400px;
        margin-top: 0;
    }

    .container::before {
        width: 400px;
    }

    .container::after {
        width: 60%;
        height: 60%;
        top: 20%;
        left: -30%;
    }

    .container .scene img {
        width: 60px;
    }

    .containerCourse .courseUp {
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerCourse .courseDown {
        flex-wrap: wrap;
    }

    .containerCourse .courseDown .mainLeft .bubbleBtn {
        margin: 50px;
    }

    .shop .demoman {
        flex: 1;
    }

    .shop .demoman img {
        width: 150px;
    }

    .shop .itemList {
        flex: 2;
    }

    .bigDiary {
        justify-content: center;
        flex-wrap: wrap;

        .pageRight {
            .rightData {
                flex-wrap: wrap;

                .rightDataB {
                    margin: 20px 5px;
                }

            }
        }

        .pageLeft .pageLeftImg img {
            max-width: 100%;
            border-radius: 0;
        }

    }

    .smallDiary .diarySolid {
        width: 250px;
    }

    .smallDiary .diarySolid .diaryText .diaryTextData div:first-child p:nth-child(2) span:nth-child(1),
    .smallDiary .diarySolid .diaryText .diaryTextData div p:nth-child(2) span:nth-child(1) {
        font-size: 18px;
    }

    .diaryCenter:nth-child(3) {
        display: none;
    }

}

@media screen and (max-width:768px) {

    .shop {
        justify-content: center;
    }

    .shop .demoman {
        display: none;
    }

    .shop .itemList {
        flex: 0;

        .mask,
        .watch,
        .gloves {
            margin-left: 0;
        }

        .item img {
            width: 100px;

        }
    }


}

@media screen and (max-width:576px) {

    .containerCourse .courseDown .mainLeft .courseH4 {
        margin: 0px;
    }

    .containerCourse .courseDown .mainLeft .courseItem {
        flex-wrap: wrap;

    }
}



//魚魚
.m6m6 {
    position: relative;

    svg#fish {
        top: 5em;
        position: absolute;
    }

    /* Fish Animation */
    svg.fish {
        overflow: visible;
    }

    @-webkit-keyframes swim {
        0% {
            margin-left: 50%;
        }

        90% {
            margin-left: 50%;
        }

        100% {
            margin-left: 50%;
        }
    }

    @keyframes swim {
        0% {
            margin-left: 50%;
        }

        70% {
            margin-left: 50%;
        }

        100% {
            margin-left: 50%;
        }
    }

    .fish {
        width: 235px;
        height: 104px;
        margin-left: -235px;
        position: absolute;
        animation: swim 20s;
        -webkit-animation: swim 20s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    svg #fish1,
    svg #fish2,
    svg #fish3,
    svg #fish4,
    svg #fish5,
    svg #fish6 {
        fill: #464d4d;

        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }

    svg #fish2 {
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }

    svg #fish3 {
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
    }

    svg #fish4 {
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }

    svg #fish5 {
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
    }

    svg #fish6 {
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
    }

    /**/
    @-moz-keyframes bounce {

        0%,
        50%,
        100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
        }

        25% {
            -moz-transform: translateY(-5px);
            transform: translateY(-5px);
        }

        75% {
            -moz-transform: translateY(-3px);
            transform: translateY(-3px);
        }
    }

    @-webkit-keyframes bounce {

        0%,
        50%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        25% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }

        75% {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
        }
    }

    @keyframes bounce {

        0%,
        50%,
        100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        25% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }

        75% {
            -moz-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
        }
    }

}

/*END Fish Animation*/