body{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.memberContainer{
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.memberAside{
    width: 40%;
    margin: 0;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;

}
.memberMain{
    width: 60%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

//會員中心
.memberAsideTitle{
    width: 40%;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50%;
    margin-right: 0;
    background-color: #16181D;
}
.memberAsideTitle p{
    text-align: center;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 3;
}
.memberData{
    width: 40%;
    margin-left: 50%;
    background: rgba($color: #FEFEFE, $alpha: 0.75);
}
.memberData > p{
    padding-top: 20px;
    margin: 15px auto;
    color: #16181D;
    font-size: 16px;
    text-align: center;
}
.memberPic{
    border-radius: 50%;
    margin: 10px auto 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}
.memberPhone{
    display: none;
}

.memberDataTable{
    width: 150;
    margin: 0 auto;
    margin-bottom: 40px;
}
.memberDataTable tr td{
    width: 150;
    font-size: 16px;
    padding: 10px;
    display: block;
    cursor: pointer;
}
.memberPion{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
.memberPion > p{
    font-size: 16px;
    color: #16181D;
    display: inline-block;
    margin: 0 0 10px;
}
.memberPion > span{
    font-size: 16px;
    color: #930000;
}

//右側頁簽
.memberMainTebArea{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.memberMainTebArea li{
    display: inline-block;
    border: 1px solid #FEFEFE;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
.memberMainTebArea li p{
    font-size: 24px;
    color: #FEFEFE;
    padding: 8px 50px;
}
.memberMainTebArea .memberMainTeb.-on{
    background-color: #FEFEFE;
}
.memberMainTebArea .memberMainTeb.-on p{
    color: #073977;
}
.memberMainTeb:hover{
    background-color: #FEFEFE;
}
.memberMainTeb:hover p{
    color: #073977;
}

//頁簽區域
.memberArea{
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
}
.memberContent{
    width: 100%;
    max-width: 750px;
    display: none;
}
.memberContent.-on{
    display: block;
}

//共用
.memberChooseContent{
    cursor: pointer;
    margin: 10px;
}
.memberChooseContent:hover{
    background-color: rgba($color: #FEFEFE, $alpha: 0.3);
}

//日誌內文
.memberLogImg{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.memberLogText{
    width: 38%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.memberLogTitle{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #FEFEFE;
}
.memberLogData{
    text-align: center;
    margin-bottom: 20px;
}
.memberLogData p{
    display: inline-block;
    font-size: 16px;
    color: #FEFEFE;
}
.memberLogData span{
    display: inline-block;
    font-size: 16px;
    color: #FEFEFE;
}
.memberLogAss{
    text-align: center;
    margin-bottom: 30px;
}
.memberLogAss p{
    color: #FEFEFE;
    font-size: 16px;
}

.memberLogButton{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.memberLogDE{
    margin-top: 50px;
    margin-bottom: 20px;
}

//課程內容
.memberCurImg{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.memberCurText{
    width: 38%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.memberCurTitle{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #FEFEFE;
}
.memberCurData{
    text-align: center;
    margin-bottom: 20px;
}
.memberCurData p{
    display: inline-block;
    font-size: 16px;
    color: #FEFEFE;
}
.memberCurData span{
    display: inline-block;
    font-size: 16px;
    color: #FEFEFE;
}
.memberCurAss{
    text-align: center;
    margin-bottom: 30px;
}
.memberCurAss p{
    font-size: 16px;
    color: #FEFEFE;
}

.memberCurButton{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.memberTagContentTebArea{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.memberTagContentTebArea li{
    display: inline-block;
    margin: 10px;
    border: 1px solid #FEFEFE;
    border-radius: 15px;
    width: 100px;
    padding: 8px 0;
}
.memberTagContentTebArea li a{
    padding: 8px 0;
}
.memberTagContentTebArea li a p{
    font-size: 16px;
    color: #FEFEFE;
}
.memberMainTeb.-on{
    background-color: #FEFEFE;
}
.memberMainTeb.-on p{
    color: #073977;
}

.memberTagMap{
    width: 100%;
    background-color: rgba($color: #FEFEFE, $alpha: 0.3);
    border-radius: 15px;
    padding: 15px;
    display: none;
    margin-bottom: 50px;
}
.memberTagMap.-on{
    display: block;
}

//訂單內容
.memberCourseTitle{
    padding: 25px 0;
    width: 100%;
}
.memberCourseTitle div{
    display: inline-block;
    text-align: center;
}
.memberCourseTitle div p{
    font-size: 16px;
    color: #FEFEFE;
}
.memberCourseContent{
    cursor: pointer;
    padding: 15px 0;
}
.memberCourseContent p{
    color: #FEFEFE;
}
.memberCourseContent:hover{
    background-color: rgba($color: #FEFEFE, $alpha: 0.3);
}
.memberCourseNo{
    width: 18%;
}
.memberCourseData{
    width: 18%;
}
.memberCourseName{
    width: 35%;
}
.memberCoursePrice{
    width: 18%;
}

//收藏內容
.memberCollectContent{
    padding: 25px;
}
.memberCollectContent div{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.memberCollectContent div p{
    font-size: 16px;
    color: #FEFEFE;
}
.memberCourseContent div{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.memberCourseContent div p{
    font-size: 16px;
    color: #FEFEFE;
}
.memberCollectPic{
    width: 32%;
}
.memberCollectName{
    width: 32%;
}
.memberCollectButton{
    width: 25%;
}
.memberCourseDel{
    width: 5%;
}
.memberCollectImg{
    width: 80%;
}
.memberCollectDE{
    margin-top: 25px;
}
.memberCourseDel h4{
    color: #FEFEFE;
}

.memberCourseDel h4:hover{
    color: #073977;
}

//分頁按鈕
.memberPage{
    font-size: 24px;
    text-align: center;
    margin: 60px auto 40px;
}
.memberPage li{
    display: inline-block;
    border: 1PX solid #FEFEFE;
    color: #FEFEFE;
    padding: 5px 10px;
    cursor: pointer;
}
.memberPage li:first-child{
    color: #073977;
    background-color: #FEFEFE;
}
.memberPage li:hover{
    color: #073977;
    background-color: #FEFEFE;
}


@media all and (max-width: 991px){
    .memberContainer{
        display: block;
        margin-top: 30px;
    }
    .memberAside{
        width: 100%;
        display: block;  
    }
    .memberMain{
        width: 100%;
        display: block;
    }
    .memberAsideTitle{
        width: 70%;
        margin: 0 auto;
        height: 50px;
    }
    .memberData{
        width: 70%;
        margin: 0 auto;
    }
    .memberComputer{
        display: none;
    }
    .memberPhone{
        display: block;
        margin-bottom: 30px;
    }
    .memberDataTable{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .memberDataTable tr td{
        width: 150;
        font-size: 16px;
        margin: 0 15px;
        display: inline-block;
    }
    .memberMainTebArea{
        width: 70%;
        margin: 50px auto;
        text-align: center;
    }
    .memberArea{
        margin: 0 auto 50px;
    }
}
@media all and (max-width: 810px){
    .memberLogImg{
        width: 58%;
    }
    .memberLogText{
        width: 40%;
        text-align: left;
    }
    .memberCurImg{
        width: 58%;
    }
    .memberCurText{
        width: 40%;
        text-align: left;
    }

    .memberLogText div{
        text-align: left;
        margin-left: 30px;
    }
    .memberCurText div{
        text-align: left;
        margin-left: 30px;
    }
    .memberLogButton{
        width: 70%;
        display: block;
        margin: auto;
    }
    .memberCurButton{
        width: 70%;
        display: block;
        margin: auto;
    }
    .memberLogDE{
        width: 48%;
        display: inline-block;
    }
    .memberCourseData{
        width: 30%;
    }
    .memberCourseName{
        width: 30%;
    }

    .memberCollectPic{
        width: 50%;
    }
    .memberCollectName{
        width: 50%;
    }
    .memberCollectButton{
        width: 70%;
    }
    .memberCourseDel{
        width: 30%;
        text-align: left;
    }
    .memberCourseContent .memberCollectButton{
        text-align: right;
    }
    .memberCourseContent .memberCourseDel{
        text-align: left;
        padding-left: 20px;
    }

    .memberCollectPic{
        width: 32%;
    }
    .memberCollectName{
        width: 32%;
    }
    .memberCollectButton{
        width: 25%;
    }
    .memberCourseDel{
        width: 5%;
    }
}
@media all and (max-width: 576px){
    .memberLogImg{
        width: 100%;
    }
    .memberLogText{
        width: 47%;
    }
    .memberLogButton{
        width: 47%;
        display: inline-block;
    }
    .memberCurImg{
        width: 100%;
    }
    .memberCurText{
        width: 50%;
    }
    .memberCurButton{
        width: 50%;
    }
    .memberLogDE{
        width: 100%;
    }
}