@import "../common/variables";

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-height: 100vh;
}

.asideMenu {
    width: 18%;
    text-align: center;

    .title {
        padding: 15px 10px;
        color: $keyWhite;
        background-color: $keyBlack;
        margin-bottom: 20px;

        a{
            color: $keyWhite;
        }
    }

}

.profile img {
    width: 100px;
    margin: 20px 0;

}

.option {
    background-color: $transparentWhite;
    padding: 20px;

    p {
        margin: 20px 0;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $keyBlack;
        margin: 10px 0;
    }

    a:hover{
        color: $keyBlue;
    }

    li:nth-child(3) a{
        color: $keyBlue;
    }
}

.info{
    margin-left: 20px;

    .month{
        text-align: center;
        margin-bottom: 20px;
        color: $keyWhite;
        font-size: 20px;
    }
}

// 課程

/* 頁籤區塊 */
.tab_list_block, .tab_contents {
    vertical-align:top;
}

/* 頁籤列表 */
.tab_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tab_list li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.tab_list li a {
    width: 100%;
    height: 40px;
    padding: 10px 25px;
    display: inline-block;
    border: 1px solid $keyWhite;
    cursor: pointer;
    color: $keyWhite;
    font-size: 18px;
    position: relative;
    top: 1px;
    transition: all .3s;
}

.tab_list li a:hover{
    color: $keyBlue;
    background-color: $keyWhite;
}

.tab_list li a.-on {
    color: $keyBlue;
    background-color: $keyWhite;
}


/* 頁籤內容區塊 */
.tab_contents div.tab {
    display: none;
}

.tab_contents div.tab.-on {
    display: block;
}

// per course
.course{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imgContainer{
        display: inline-block;
        width: 250px;
        position: relative;

    }
    img{
        width: 100%;
    }

}
.course.full .imgContainer::before{
    content: '已額滿';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    line-height: 168px;
    text-align: center;
    color: $transparentWhite;
}

.course::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $keyWhite;
    position: absolute;
    top: -10px;
}

.courseInfo p{
    color: $keyWhite;
    margin: 20px 10px;

}

// pagination
ul.pagination{
    display: flex;
    justify-content: center;
    color: $keyWhite;
    font-size: 18px;

    li{
        border: 1px solid $keyWhite;
        margin: 20px 10px;
        padding: 10px 15px;
    }

    li:hover{
        color: $keyBlue;
        background-color: $keyWhite;
        border: 1px solid $keyBlue;
        cursor: pointer;
    }

    li:first-child{
        color: $keyBlue;
        background-color: $keyWhite;
        border: 1px solid $keyBlue;
    }
}
.tab_container{
    position: relative;
}

.nameList{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: $keyWhite;
    z-index: 2;
    display: none;

    .courseInfo p{
        color: $keyBlack;
    }

    .avatar {
        table{
            margin: 0 auto;
        }
       
        td{
            padding: 20px;
           vertical-align: middle;
        }
        img{
            width: 70px;
        }
    }
    .closeBtn{
        text-align: center;
        margin-top: 20px;
    }
}

.nameList.on{
    display: inline-block;
}

@media all and (max-width: 991px){
    body{
        background-size:auto
    }

    main{
        display: block;
    }

    .asideMenu{
        width: 70%;
        margin: 0 auto;

        ul{
            display: flex;
            justify-content: space-around;
        }
    }

    .info{
        width: 70%;
        margin: 20px auto;

        .progressStar div{
            width: 250px;
        }
    }

    .bubbleBtn{
        margin: 20px auto 0;
    }

    .course{
        flex-wrap: wrap;

        .imgContainer{
            flex-grow: 1;
        }
    }


    
}



@media all and (max-width: 576px){
    
    .asideMenu{
        width: 90%;
    }
    
    .info{
        width: 90%;

        .rateStar{
            flex-wrap: wrap;
        }
    } 

    .course.full .imgContainer::before{
        line-height: 290px;
    }

}

@media all and (max-width: 376px){
    
    .tab_list li a {
        padding: 10px 15px;
    }

}
