@import "../common/variables";

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    // min-height: 100%;
}

.asideMenu {
    width: 18%;
    text-align: center;

    .title {
        padding: 15px 10px;
        color: $keyWhite;
        background-color: $keyBlack;
        margin-bottom: 20px;

        a{
            color: $keyWhite;
        }
    }

}

.profile img {
    width: 100px;
    margin: 20px 0;
    
}

.option {
    background-color: $transparentWhite;
    padding: 20px;

    p {
        margin: 20px 0;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $keyBlack;
        margin: 10px 0;
    }
}


.incomingCourse {
    display: flex;

    img{
        width: 300px;
    }
}

.courseInfo {
    color: $keyWhite;
    margin-left: 20px;

    p {
        margin: 40px 10px;
    }
}

.info {
    margin-left: 20px;

    .rateStar{
        margin-bottom: 20px;
        background-color: $transparentWhite;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-evenly;
    }

    .preview{
        display: inline-block;
    }

    .fiveStar{
        margin: 10px 0 0;
        color: $keyBlue;
    }

    .num{
        height: 110px;
        line-height: 100px;
        width: 110px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid $keyBlue;
        background-color: $keyBlue;
        color: $keyWhite;
        font-size: 32px;
    }

    .perStar{
        display: flex;
        margin-left: 20px;

        li{
            margin: 5px 0;
            line-height: 20px;
        }
    }

    .progressStar{
        margin: 0 10px;
        
        li{
            background-color: $transparentWhite;
            border-radius: 15px;
        }
        div{
            width: 350px;
            height: 20px;
            border-radius: 15px;
            background-image: linear-gradient($keyBlue,$keyBlue);
            background-position: 0 0;
            background-size: 0% 0%;
            background-repeat: no-repeat;
            border: 1px solid $keyBlue;
        }
     
        li:nth-child(1) div{
            background-size: 80% 100%;
        } 
        li:nth-child(2) div{
            background-size: 80% 100%;
        } 
    }
}

.incomingTitle {
    display: inline-block;
    padding: 15px 10px;
    color: $keyWhite;
    background-color: $keyBlack;
    margin-bottom: 20px;
    position: relative;
}

.incomingTitle::after{
    content: '';
    display: inline-block;
    background-color: $keyBlack;
    width: 300%;
    height: 2px;
    position: absolute;
    right: -300%;
    top: 50%;
}



@media all and (min-width: 992px){
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media all and (max-width: 991px){
    main{
        display: block;
    }

    .asideMenu{
        width: 70%;
        margin: 0 auto;

        ul{
            display: flex;
            justify-content: space-around;
        }
    }

    .info{
        width: 70%;
        margin: 20px auto;

        .progressStar div{
            width: 250px;
        }
    }

    
}

@media all and(max-width: 768px){
    body{
        background-size:auto
    }
    .asideMenu{
        width: 80%;
    }
    .info{
        width: 80%;

        .progressStar div{
            width: 150px;
        }
    }

    .incomingTitle::after{
        width: 200%;
        right: -200%;
    }
   
    .incomingCourse{
        display: block;
    }

    .incomingCourse img,.incomingCourse div{
        vertical-align: top;
    }

    .courseInfo{
        margin-left:0 ;
    }

    .courseInfo p{
        margin: 40px 0;
    }
}

@media all and (max-width: 376px){
    
    .asideMenu{
        width: 90%;
    }
    
    .info{
        width: 90%;

        .rateStar{
            flex-wrap: wrap;
        }
    } 
    

    .incomingTitle::after {
        width: 120%;
        right: -120%;
    }
}
