// color
$keyWhite:#fefefe;
$keyBlack:#16181D;
$keyGray:#221814;
$keyBlue: #073977;
$transparentWhite:rgba(254, 254, 254, .75);

$en: "Tahoma", sans-serif;
$zh: "微軟正黑體", sans-serif;
$baseFz: 16px;




